@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


	

// -------
// СЛАЙДЕР
// -------
.jssorb05
	position: absolute
	div
		position: absolute
		width: 10px
		height: 10px
		cursor: pointer
		border-radius: 50%
		background: #fff
	.av
		position: absolute
		width: 10px
		height: 10px
		overflow: hidden
		background: #0071AD
		cursor: pointer 
	div
		&:hover
			background-position: -37px -7px
	.av
		&:hover
			background-position: -37px -7px
		background-position: -67px -7px
	.dn
		background-position: -97px -7px
		&:hover
			background-position: -97px -7px

.jssora22l, .jssora22r
	display: block
	position: absolute
	width: 40px
	height: 40px
	cursor: pointer
	background: url(../img/a33.png) center center no-repeat
	overflow: hidden
	border-radius: 50%
.jssora22l
	background-position: -15px -41px
.jssora22r
	background-position: -65px -41px

// кастомные стили для слайдера
.slider__text
	position: absolute
	top: 120px
	width: 830px
	left: 50%
	margin-left: -415px
	font-weight: bold
	line-height: 1.2
	color: #fff
	font-size: 48px
	text-align: center
	text-shadow: 0px 0 4px rgba(131,215,255,0.1), 0px 0 5px rgba(0,0,0,0.5)
.slider__btn
	color: #000
	display: inline-block
	background: #fff
	border-radius: 2px
	position: absolute
	width: 212px
	left: 50%
	margin-left: -106px
	top: 250px
	text-align: center
	font-size: 18px
	padding: 5px 0 6px
	box-shadow: 0 5px 5px rgba(0,0,0,0.7)
	&:hover
		text-decoration: none
		color: #000

	

// ------------------
// ДВЕ БОЛЬШИЕ ССЫЛКИ
// ------------------
.row__big-link
	margin-top: 50px
	margin-bottom: 20px
.big-link
	display: block
	border-radius: 5px
	border: 2px solid #C6C6C6
	text-align: center
	color: #333
	padding: 12px 0
	transition: 0.15s
	&:hover
		color: #333
		text-decoration: none
		border-color: #175f8b
.big-link__text
	font-family: $head
	font-size: 21px
	text-align: left
	font-weight: bold
	vertical-align: middle
	display: inline-block
	line-height: 1.3
	margin: 0	
.icon_front
	display: inline-block
	content: ""
	width: 152px
	height: 108px
	background-image: url(../img/sprite-frontpage.png)
	vertical-align: middle
	margin-left: -30px
.icon_front__right
	background-position: -152px 0
	margin-right: 10px
.news-date
	font-size: 16px
	font-weight: bold
	padding-bottom: 10px
.news__head
	color: #175f8b
.thumbnail-news
	width: 100%
.text_black
	color: #333

	

// -------
// НОВОСТИ
// -------
.thumbnail-effect
	position: relative
	display: block
	&:after
		transition: 0.2s
		opacity: 0
		background: rgba(221,221,221,.34)
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		content: ""
	&:hover:after
		opacity: 1
.btn_all-news
	float: right
	padding: 3px 20px
	padding-right: 20px
	margin-top: 10px
.front-news
	margin-bottom: 30px

	

// --------------
// СЕКЦИЯ ФИЛИАЛЫ
// --------------
.section_branches
	text-align: center
	overflow: hidden
	position: relative
	padding-bottom: 30px
	h2
		color: #fff
		text-shadow: 0px 0 4px rgba(131,215,255,0.1), 0px 0 5px rgba(0,0,0,0.5)
.parallax-front
	position: absolute
	width: 100%
	z-index: -1
	left: 0
.parallax-front_first
	top: 250px
.branches
	margin: 0
	padding: 0
	list-style-type: none
	li
		display: inline-block
		border: 3px solid #175F8B
		color: #175f8b
		font-weight: bold
		font-size: 16px
		margin: 15px
		transition: 0.15s
		width: 200px
		a
			transition: 0.15s
			display: inline-block
			line-height: 2.15
		&:hover
			background: #175f8b
			a
				color: #fff
				text-decoration: none

	

// ------------------------
// СЕКЦИЯ В ЦЕНТРЕ ВНИМАНИЯ
// ------------------------
.section_attention h2
	font-size: 30px
	color: #175f8b
	text-align: center
	text-transform: none
	font-family: $main
	margin: 1em 0
.attention-block
	text-align: center
	p
		margin-bottom: 0
		font-size: 18px
.attention-block__img
	width: 225px
	height: 225px
	border-radius: 50%
	overflow: hidden
	margin: 0 auto
.attention-block__inner
	background: #fff
	padding: 16px 16px 16px 16px
.pattern-border
	background-image: url(../img/pattern-border.png)
	padding: 3px
.col-big-padding
	padding-left: 30px
	padding-right: 30px

	

// -------------------
// СЕКЦИЯ ДЕПАРТАМЕНТЫ
// -------------------
.section_open-department
	margin-top: 70px
	text-align: center
	padding-bottom: 45px
	padding-top: 15px
	h2
		color: #0070b2
	position: relative
	overflow: hidden
.parallax-front_bottom
	top: 500px
.departments
	margin: 0
	padding: 0
	list-style-type: none
	li
		display: inline-block
		a
			color: #0070b2
			text-decoration: underline
			font-weight: bold
			font-size: 18px
			margin: 10px 20px
			display: inline-block
			&:hover
				text-decoration: none

	

// -----
// ФУТЕР
// -----
footer .logo
	padding: 75px 0
.logo__img_nonfixed
	width: 72px
.nav_footer
	text-align: center
	box-shadow: 0 0px 9px rgba(0,0,0,0.36)
.nav_footer li 
	margin-left: 20px
	margin-right: 20px
	display: inline-block
	a
		color: #000
.nav_footer li a:hover
	text-decoration: underline
.nav_footer li a:after
	display: none
.logo__text_small
	font-size: 16px
	width: 180px
.sprite-main_mail
	background-position: -91px -77px
	width: 13px
	margin-right: 7px
	height: 10px
.sprite-main_phone
	background-position: -116px -77px
	width: 10px
	margin-right: 10px
	height: 10px
.sprite-main_map
	background-position: -137px -75px
	width: 14px
	margin-right: 6px
	height: 14px
.footer-contact
	margin: 92px 0
	line-height: 0.8
	display: flex
	justify-content: space-between
	a
		color: #333



// ------------
// БОКОВОЕ МЕНЮ
// ------------
.pushy
	position: fixed
	width: 200px
	height: 100%
	top: 0
	z-index: 9999
	background: #191918
	overflow: auto
	visibility: hidden
	-webkit-overflow-scrolling: touch
	ul
		list-style-type: none
		padding-left: 0
	a
		display: block
		color: #b3b3b1
		padding: 15px 30px
		text-decoration: none   
		outline: 0
		&:hover
			color: #FFF
	ul:first-child
		margin-top: 10px
	&.pushy-left
		left: 0
.pushy-left
	-webkit-transform: translate3d(-200px, 0, 0)
	-ms-transform: translate3d(-200px, 0, 0)
	transform: translate3d(-200px, 0, 0)
.pushy-open-left
	#container, .push
		-webkit-transform: translate3d(200px, 0, 0)
		-ms-transform: translate3d(200px, 0, 0)
		transform: translate3d(200px, 0, 0)
.pushy-open-left .pushy
	-webkit-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
#container, .pushy, .push
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99)
.site-overlay
	display: none
.pushy-open-left .site-overlay
	display: block
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 9998
	background-color: rgba(0, 0, 0, 0.5)
	-webkit-animation: fade 500ms
	animation: fade 500ms
@keyframes fade
	0%
		opacity: 0
	100%
		opacity: 1
@-webkit-keyframes fade
	0%
		opacity: 0
	100%
		opacity: 1
.pushy-submenu
	ul
		list-style-type: none
		padding-left: 15px
		transition: max-height 0.2s ease-in-out
		.pushy-link
			transition: opacity 0.2s ease-in-out
	> a
		position: relative
		&::after
			content: ''
			display: block
			height: 11px
			width: 8px
			position: absolute
			top: 50%
			right: 15px
			background: url("../img/arrow.svg") no-repeat
			-webkit-transform: translateY(-50%)
			-ms-transform: translateY(-50%)
			transform: translateY(-50%)
			transition: transform 0.2s
.pushy-submenu-closed
	ul
		max-height: 0
		overflow: hidden
	.pushy-link
		opacity: 0
.pushy-submenu-open
	ul
		max-height: 1000px
	.pushy-link
		opacity: 1
	a::after
		-webkit-transform: translateY(-50%) rotate(90deg)
		-ms-transform: translateY(-50%) rotate(90deg)
		transform: translateY(-50%) rotate(90deg)
.no-csstransforms3d .pushy-submenu-closed ul
	max-height: none
	display: none







//ALWAYS END
@import "media"
